*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
body{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:cadetblue;
  color: #fff;
  height: 60px;
  font-size: 2rem;
}

.all-user ul{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.all-user ul li {
  list-style: none;
}
.single-user {
  display: flex;
  align-items: center;
  min-width: 400px;
  background-color:dimgrey;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  color: #fff;
  font-size: 1rem;
}

.single-user img {
  margin-right: 20px;
  border-radius: 50%;
  width: 100px;
}
.user-info .user-mail  {
  margin: 10px 0;
}
.user-gender .user-location .user-concat{
  margin: 10px 0;
}
